html body{
	background: url("../images/test.png") repeat scroll left top transparent;
    margin: 0 auto;
	/**opacity: 0.8;**/
}

html #header {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    height: 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99997;
}

#header .wrap{
	border: 0px solid red;
    height: 100%;
    margin: 0px auto;
    width: 1000px;

}

#header .wrap .navigator_icon{
	border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    float: left;
    height: 27px;
    margin-top: 3px;
    width: 40px;
	cursor:pointer;
}

#header .wrap .navigator_icon:hover{
	background-color:#F7F7F7;
}

#header .wrap .navigator_icon .list_icon{
	background: url("../images/menu_sprite.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin: 5px 8px 8px 12px;
    width: 16px;
	display: inline-block;
}

#header .wrap .navigator_icon .list_icon:hover{
	background: url("../images/menu_sprite.png") no-repeat scroll -50px 0 transparent
}

#header .wrap .navigator_icon .arrow {
    background: url("../images/menu_sprite.png") no-repeat scroll 0 -50px transparent;
    bottom: 6px;
    display: inline-block;
    height: 6px;
    position: relative;
    right: -34px;
    width: 8px;
}

.navigator_sub{
	float: left;
    font-size: 16px;
    height: 28px;
    margin-top: 3px;
    text-align: center;
    width: 705px;
}

.navigator_right{
	border-left: 0px solid #F5F5F5;
    border-right: 0px solid #F5F5F5;
    float: right;
    height: 32px;
    width: 240px;
}

.navigator_right .login_btn,.navigator_right .register_btn{
	background: linear-gradient(#FAFAFA, #F2F2F2) repeat scroll 0 0 transparent;
    border: 1px solid #D9D9D9;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #444444;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 25px;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    text-align: center;
    width: 60px;

}

.register_btn a{
	color: #444444;
}

.navigator_right .login_btn:hover{
	background: linear-gradient(#FFFFFF, #F7F7F7) repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
}

.navigator_right .register_btn:hover{
	background: linear-gradient(#FFFFFF, #F7F7F7) repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC;
}

.nav_user{
	border-left: 0px solid #F5F5F5;
    float: right;
    height: 32px;
    width: 32px;
}

.nav_user .photo{
	cursor: pointer;
    height: 28px;
    margin-left: 2px;
    margin-top: 2px;
    width: 28px;
}

.nav_user .photo img{
	width:28px;
	height:28px;
	border-radius:2px;
}

.nav_user_set{
    height: 43px;
    position: relative;
    right: 52px;
    top: 2px;
    width: 85px;
    cursor:pointer;
	background-color: white;
    border-top:none;
	border-right:1px solid #A4BEA4;
	border-bottom:1px solid #A4BEA4;
	border-left:1px solid #A4BEA4;
	box-shadow:0 2px 2px rgba(0, 0, 0, .2);
}

.group{
	width: 85px;
	heigh: 25px;
	border: 0px solid green;
	text-align: center;
	letter-spacing: 2px;
	font-size: 14px;
	color: #5F5D5D;
}

.photo_hover{
	background-color: #E9F5E7;
}

.seprate{
	background-color: #E9F5E7;
}

.hidden{
	display: none;
}















#main #content{
	height: 100%;
    margin-top: 32px;
    min-height: 800px;
    width: 100%;
}

